/* ~/CSS/Pages/Widgets/FunCaptchaModal.css */
.funcaptcha-modal-body{margin:0 auto;display:block;width:303px;}

/*
     FILE ARCHIVED ON 23:53:00 Jul 31, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:01:34 Feb 28, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.191
  exclusion.robots: 0.097
  exclusion.robots.policy: 0.081
  esindex: 0.014
  cdx.remote: 10.023
  LoadShardBlock: 314.569 (6)
  PetaboxLoader3.datanode: 135.251 (7)
  PetaboxLoader3.resolve: 10.028
  load_resource: 12.198
*/